.footer {
    background-color: #000;
    padding: 30px 0;
}
.footer__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__nav a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.footer__nav > a + a {
    margin-left: 30px;
}
.footer__nav a {
    transition: opacity 0.2s ease-in;
}
.footer__nav a:hover {
    opacity: 0.8;
}
.footer__socials {
    display: flex;
    align-items: center;
    padding: 25px 0;
}
.footer__socials-link {
    text-decoration: none;
}
.footer__socials-link + .footer__socials-link {
    margin-left: 30px;
}
.footer__socials-icon {

}
.footer__socials-icon path {
    transition: fill 0.2s ease-in;
}
.footer__socials-icon:hover path {
    fill: #f72464;
}
.footer__copyright {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #999999;
}
.footer__copyright p {
    margin: 0;
}