.subscribe-form {
    display: flex;
    justify-content: center;
}
.subscribe-form > * + * {
    margin-left: 10px;
}
.subscribe-form__input {
    background: #FFFFFF;
    border: 1px solid #F72464;
    border-radius: 4px;
    height: 42px;
    width: 230px;

    font-family: 'Noto Sans' serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    padding: 0 10px;
    outline: none;
}
